<h1>Form with ngrx</h1>
<form [formGroup]="profileForm" (ngSubmit)="saveForm()">
    <div class="form-group">
        <label for="firstName">First name</label>
        <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="Enter firstName">
    </div>
    <div class="form-group">
        <label for="lastName">lastName</label>
        <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="lastName">
    </div>
    <div class="form-group">
        <label for="address">Password</label>
        <input formControlName="address" type="text" class="form-control" id="address" placeholder="address">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>